# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
*.log

# Virtual environment
env/
venv/
ENV/
*.env

# Django
db.sqlite3
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
